body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  font-size: 24px;
  background: #1687a7;
  color: #f6f5f5;
}
header h2 {
  padding: 30px;
  padding-left: 20px;
}
header ul {
  padding-right: 60px;
}
header ul li {
  display: inline-block;
  padding: 30px;
}
header ul li a {
  position: relative;
  color: #f6f5f5;
  text-decoration: none;
  font-family: sans-serif;
}
header ul li a::before {
  position: absolute;
  content: '';
  width: 0;
  transform: translateY(30px);
  height: 2px;
  background-color: #f44336;
}
header ul li a:hover {
  color: #f44336;
  transition: 0.5s;
}
header ul li a:hover::before {
  width: 100%;
  transition: 0.5s;
}
main {
  background: linear-gradient(rgba(22, 135, 167, 0.2), rgba(22, 135, 167, 0.2));
  height: 100vh;
}
main div {
  padding-top: 150px;
}
main table {
  margin: auto;
  width: 80%;
  text-align: center;
  line-height: 30px;
}
main table tr:first-child {
  border: none;
  font-weight: bold;
  font-size: 20px;
}

main table tr:nth-child(even) {
  background: #3edbf0;
}
main table tr td {
  border: solid 1px #1687a7;
  font-size: 18px;
}
main table tr {
  border: solid 1px #1687a7;
}
main table tr td:first-child,
main table tr th:first-child {
  font-weight: bold;
  font-size: 20px;
}
main table tr:last-child th {
  border: solid 1px #1687a7;
}
